<!DOCTYPE html>
<html lang="zh-CN" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>历史翻译记录 - Translate R1</title>
    <link rel="stylesheet" href="/static/font-awesome-css/all.min.css">
    <link rel="stylesheet" href="/static/css/history.css">
    <link rel="stylesheet" href="/static/css/custom_alert.css"> <!-- 引入自定义提示框的 CSS -->
</head>
<body>
<button class="back-btn" onclick="goBackToTranslate()">
    <i class="fas fa-arrow-left"></i> 返回
</button>

<div class="theme-switch" onclick="toggleTheme()">
    <i class="fas fa-sun"></i>
</div>

<div class="container">
    <h1>历史翻译记录</h1>
    <input type="text" id="searchInput" placeholder="搜索..." onkeyup="searchTable()">
    <table id="history-table">
        <thead>
        <tr>
            <th>原文</th>
            <th>译文</th>
            <th>翻译时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<!-- 引入自定义提示框的 HTML -->
<div id="custom-alert-overlay" class="custom-alert-overlay" style="display: none;">
    <div class="custom-alert">
        <div class="custom-alert-message" id="custom-alert-message"></div>
        <button class="custom-alert-button" onclick="hideCustomAlert()">确认</button>
    </div>
</div>


<script src="/static/js/history.js"></script>
<script src="/static/js/custom_alert.js"></script> <!-- 引入自定义提示框的 JavaScript -->
</body>
</html>